{
  "openapi": "3.1.0",
  "info": {
    "title": "Ageix Human Interface Decision Surfaces",
    "version": "26.4",
    "description": "Open WebUI-compatible registration surface for the Ageix Human Interface Decision Inbox and governed decision action translation. Ageix remains the system of record and governance authority. Open WebUI remains shell only."
  },
  "servers": [
    {
      "url": "https://ageix.wilsongpt.com",
      "description": "Production Ageix gateway when publicly enabled"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Ageix Human Interface Adapter development server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/human-interface/decision-inbox": {
      "get": {
        "operationId": "get_ageix_decision_inbox",
        "summary": "Read the Ageix Decision Inbox",
        "description": "Returns the read-only, project-scoped Ageix Human Interface Decision Inbox. This operation does not approve, reject, defer, request changes, trigger workers, mutate repository state, or store Open WebUI approval state.",
        "tags": [
          "human-interface"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Explicit Ageix project context. Must be exactly Ageix.",
            "schema": {
              "type": "string",
              "enum": [
                "Ageix"
              ],
              "default": "Ageix"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Read-only Decision Inbox response from Ageix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "summary",
                    "project_id",
                    "read_only",
                    "records"
                  ],
                  "properties": {
                    "summary": {
                      "type": "object"
                    },
                    "project_id": {
                      "type": "string",
                      "const": "Ageix"
                    },
                    "adapter": {
                      "type": "string"
                    },
                    "read_only": {
                      "type": "boolean",
                      "const": true
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied by Ageix authorization or project-scope enforcement."
          }
        }
      }
    },
    "/human-interface/decision-action": {
      "post": {
        "operationId": "execute_ageix_governed_decision_action",
        "summary": "Execute a governed Ageix decision action",
        "description": "Translates a Human Interface action request into the existing Ageix governed capability infrastructure. The adapter does not perform governance, create Open WebUI approval state, invoke Git, invoke workers, or mutate repository state directly.",
        "tags": [
          "human-interface"
        ],
        "parameters": [
          {
            "name": "X-Ageix-Session-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Ageix-Agent-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "chair"
            }
          },
          {
            "name": "X-Ageix-Agent-Role",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ageix.chair"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "project_id",
                  "target_record_id",
                  "target_record_type",
                  "action",
                  "rationale"
                ],
                "properties": {
                  "project_id": {
                    "type": "string",
                    "const": "Ageix"
                  },
                  "target_record_id": {
                    "type": "string"
                  },
                  "target_record_type": {
                    "type": "string",
                    "enum": [
                      "proposal",
                      "pending_proposal",
                      "architecture_decision",
                      "architecture_decision_record",
                      "pending_architecture_decision",
                      "adr"
                    ]
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "reject",
                      "defer",
                      "request_changes",
                      "add_comment"
                    ]
                  },
                  "rationale": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Governed decision action executed by Ageix capability infrastructure."
          },
          "400": {
            "description": "Incomplete request, unsupported action, invalid target, governance rejection, or missing rationale."
          },
          "403": {
            "description": "Authentication, capability authorization, or project authorization failure."
          },
          "503": {
            "description": "Governed capability unavailable."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Ageix-issued or gateway-accepted bearer token. Open WebUI shell identity is not sufficient by itself."
      }
    }
  }
}
